@media (max-width: 992px) {
  .headphone .h-phone-img {
    margin: 65px auto; } }
@media (max-width: 768px) {
  .header-slider {
    padding: 0 20px; }
    .header-slider h2 {
      font-size: 42px !important; }

  .headphone .head-ph-content {
    text-align: center;
    padding: 0 40px 0 40px !important; }

  .all-card-edit {
    padding: 0 !important; }

  .power-btn-sec {
    margin-bottom: 60px;
    padding: 0 20px 20px 20px; }

  .testimonials .client {
    margin-bottom: 0 !important; }

  .footer-nav {
    display: flex;
    justify-content: center; }

  .copyright {
    display: flex;
    justify-content: center; } }
@media (max-width: 592px) {
  .lot-of-feat h2 {
    font-size: 42px !important; }

  .all-card-edit {
    margin-bottom: 70px;
    padding: 0 40px !important;
    line-height: 2.3; }
    .all-card-edit img {
      margin-bottom: 15px; }
    .all-card-edit p {
      color: #66778e; } }
@media (max-width: 480px) {
  .nav-edit a > h2 {
    font-size: 28px; }

  .header-slider h2 {
    font-size: 36px !important; }

  .head-ph-content h2 {
    font-size: 36px !important; }

  .lot-of-feat h2 {
    font-size: 36px !important; }

  .discover-new-music h3 {
    font-size: 28px !important; }

  .copyright p {
    text-align: center; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html {
  scroll-behavior: smooth; }

#home-body {
  background-image: linear-gradient(to top, #010102, #0a2345); }

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.animated-icon2 span {
  background: #e3f2fd; }

.animated-icon2 span:nth-child(1) {
  top: 0px; }

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px; }

.animated-icon2 span:nth-child(4) {
  top: 20px; }

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%; }

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

header {
  width: 100%;
  height: 100vh; }

.navbar-brand {
  position: relative;
  margin-top: 7px; }

.logo {
  position: absolute;
  margin: 15px 0 0 17px; }

.nav-edit {
  z-index: 9; }

.ul-edit {
  background: #030811; }
  .ul-edit .nav-item {
    text-align: center;
    margin: 15px; }
    .ul-edit .nav-item .nav-link {
      padding: 15px 0;
      transition: 0.3s; }
      .ul-edit .nav-item .nav-link:hover {
        background: #ff3031; }

.navbar-toggler {
  border: none !important;
  outline: none !important; }

.animated-icon2 span {
  background: #2a5ea4; }

.header-slider {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 100%; }
  .header-slider h2 {
    font-size: 48px;
    margin-bottom: 29px; }
    .header-slider h2 span {
      color: #2a5da3; }
  .header-slider p {
    color: #27589b;
    font-size: 18px;
    margin-bottom: px; }
  .header-slider .btn-all {
    border: 2px solid #153b6d;
    padding: 24px 43px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    margin-top: 42px;
    transition: 0.3s; }
    .header-slider .btn-all:hover {
      background: #153b6d;
      border: 2px solid transparent; }

.screen-flow {
  margin-bottom: 41px; }

.headphone {
  margin-bottom: 130px; }
  .headphone .col-lg-6.col-md-6 {
    padding-left: 0 !important; }
  .headphone h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 40px; }
    .headphone h2 span {
      color: #2a5da3; }
  .headphone .head-ph-content {
    padding: 20px; }
    .headphone .head-ph-content p {
      color: #66778e;
      line-height: 2.6;
      font-size: 14px; }
    .headphone .head-ph-content a {
      border: 2px solid #153b6d;
      padding: 24px 61px;
      border-radius: 50px;
      font-size: 14px;
      margin-top: 30px;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      transition: 0.3s; }
      .headphone .head-ph-content a:hover {
        background: #153b6d;
        border: 2px solid transparent; }

.lot-of-feat {
  margin-bottom: 150px; }
  .lot-of-feat h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 145px; }
    .lot-of-feat h2 span {
      color: #2a5ba1; }
  @media (min-width: 992px) {
    .lot-of-feat .all-card-edit {
      border-radius: 20px;
      padding: 40px !important;
      transition: 0.4s; }
      .lot-of-feat .all-card-edit:hover {
        background: #133765;
        transform: translateY(-8%); } }
  .lot-of-feat .all-card-edit {
    margin-bottom: 50px;
    padding: 0 48px;
    line-height: 2.3; }
    .lot-of-feat .all-card-edit img {
      margin-bottom: 15px; }
    .lot-of-feat .all-card-edit p {
      color: #66778e; }
  .lot-of-feat .mobile {
    margin-top: 130px;
    padding-bottom: 60px;
    position: relative; }
    .lot-of-feat .mobile .mobile-charger {
      position: absolute;
      top: 94%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1; }
    .lot-of-feat .mobile .img-mobile {
      animation-name: mobile-animation;
      animation-duration: 3s;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
@keyframes mobile-animation {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(50px); } }
.full-power-btn-sec {
  margin-top: 188px; }
  .full-power-btn-sec .power-btn-sec {
    padding-left: 35px;
    padding-right: 20px; }
    .full-power-btn-sec .power-btn-sec .power-btn {
      margin-bottom: 40px; }
    .full-power-btn-sec .power-btn-sec h3 {
      font-size: 36px;
      margin-bottom: 40px; }
    .full-power-btn-sec .power-btn-sec p {
      font-size: 14px;
      color: #66778e;
      line-height: 30px; }
  .full-power-btn-sec .col-lg-6.col-md-6.col-sm-12 {
    padding-right: 0; }
  .full-power-btn-sec .graphic-img {
    margin-top: 20px; }

.outer-testimonial {
  margin-top: 130px;
  width: 100%;
  height: 584px;
  background: #071529;
  background-repeat: no-repeat; }

.testimonials {
  overflow: hidden;
  position: relative;
  width: 100%; }
  .testimonials .slider-center {
    margin: 146px auto; }
  .testimonials .message {
    font-size: 24px;
    line-height: 2;
    margin-bottom: 60px; }
  .testimonials .client {
    color: #627289;
    font-size: 14px;
    margin-bottom: 70px; }
    .testimonials .client span {
      color: #213a61; }
  .testimonials .slick-dots li button:before {
    font-size: 12px;
    opacity: 0.25;
    color: #fff; }
  .testimonials .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #fff; }

.one-slide,
.testimonial,
.message {
  color: #66778e;
  border: none !important;
  outline: none !important; }

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px; } }
.discover-new-music {
  margin-top: 148px;
  margin-bottom: 95px; }
  .discover-new-music h3 {
    font-size: 36px;
    margin-bottom: 60px; }
  .discover-new-music p {
    font-size: 14px;
    color: #607088;
    max-width: 635px;
    line-height: 2.5;
    margin: 0 auto; }

.mobile-app {
  position: relative;
  display: flex;
  justify-content: center; }

.download {
  text-align: center;
  margin-bottom: 128px;
  margin-top: 120px; }
  .download a {
    border: 2px solid #133765;
    padding: 24px 28px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s; }
    .download a:hover {
      background: #133765;
      border: 2px solid transparent; }

.ftr {
  position: relative; }
  .ftr .container {
    padding-bottom: 70px; }
  .ftr .footer-border {
    margin-bottom: 50px; }
  .ftr .footer-border::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2px;
    opacity: 0.1;
    background: #fff; }
  .ftr .footer-nav ul {
    display: flex; }
    .ftr .footer-nav ul li {
      list-style: none; }
      .ftr .footer-nav ul li a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: #14396a;
        margin: 7.5px;
        transition: 0.3s linear; }
        .ftr .footer-nav ul li a:hover {
          color: #2a5da3; }
  .ftr .copyright p {
    display: flex;
    justify-content: flex-end;
    color: #14396a; }

/*# sourceMappingURL=Coeluso.css.map */
